<% layout('/layouts/boilerplate.ejs') %>

    <body style="height: 100vh;">
        <form class="row g-3 p-4 needs-validation" action="/listings/new" method="post" enctype="multipart/form-data"
            novalidate>
            <div class="col-md-6">
                <label for="inputTitle" class="form-label""><b>Title</b></label>
                <input type=" text" class="form-control" name="listings[title]" id="inputTitle"
                    placeholder="eg - Alex Viton" required>
                    <div class="invalid-feedback">Username required</div>
                    <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="inputImg"><b>Upload Image</b></label>
                <input type="file" class="form-control" id="inputImg" name="listings[image]" required>
                <div class="invalid-feedback">image URL required</div>
            </div>
            <div class="col-md-8">
                <label for="inputContent" class="form-label"><b>Content</b></label>
                <textarea class="form-control" id="inputContent" rows="4" name="listings[description]"
                    placeholder="type your description..." required></textarea>
                <div class="invalid-feedback">Description required</div>
            </div>
            <div class="col-md-4">
                <label for="inputCategory" class="form-label"><b>Category</b></label>
                <input type="text" class="form-control" id="inputCategory" name="listings[category]"
                    placeholder="eg - Luxurious" required>
                <div class="invalid-feedback">Category required</div>
            </div>
            <div class="col-md-4">
                <label for="inputPrice" class="form-label"><b>Price</b></label>
                <input type="text" class="form-control" id="inputPrice" name="listings[price]" placeholder="eg- 100000"
                    required>
                <div class="invalid-feedback">Price required</div>
            </div>
            <div class="col-md-4">
                <label for="inputLocation" class="form-label"><b>Location</b></label>
                <input type="text" class="form-control" id="inputLocation" name="listings[location]"
                    placeholder="eg- Delhi" required>
                <div class="invalid-feedback">Location required</div>
            </div>
            <div class="col-md-4">
                <label for="inputCountry" class="form-label"><b>Country</b></label>
                <input type="text" class="form-control" id="inputCountry" name="listings[country]"
                    placeholder="eg- India" required>
                <div class="invalid-feedback">Country name required</div>
            </div>
            <div class="edit_btn">
                <button type="submit" class="btn btn-primary"><b>Create</b></button>
            </div>
        </form>
    </body>