<% layout('/layouts/boilerplate.ejs') %>
    <div class="col-md-6 col-sm-3 login">
        <h2 style="text-align: center;">Login in</h2>
        <form action="/listings/login" class="needs-validation" method="post" novalidate>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Username" name="username" aria-label="Username"
                    aria-describedby="addon-wrapping" required>
                <div class="invalid-feedback">Username required</div>
            </div>
            <div class="input-container mb-3">
                <input type="password" placeholder="Password" name="password" class="form-control" required>
                <div class="invalid-feedback">Password required</div>
            </div>
            <button type="submit" class="btn btn-danger offset-5">login in</button>
        </form>
    </div>