<% layout('/layouts/boilerplate.ejs') %>
    <div class="col-6 offset-3 p-5" style="margin-bottom: 2.5rem;">
        <h2 style="text-align: center;">Sign Up</h2>
        <form action="/listings/signup" class="needs-validation" method="post" novalidate>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Username" name="username" aria-label="Username"
                    aria-describedby="addon-wrapping" required>
                <div class="invalid-feedback">Choose a username.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email" name="email" aria-label="email"
                    aria-describedby="basic-addon2" required>
                <span class="input-group-text" id="basic-addon2">@gmail.com</span>
                <div class="invalid-feedback">Email required</div>
            </div>
            <div class="input-container mb-3">
                <input type="password" placeholder="Password" name="password" class="form-control" required>
                <div class="invalid-feedback">Password required</div>
            </div>
            <button type="submit" class="btn btn-danger offset-5">Sign Up</button>
        </form>
    </div>